{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/slqmmg.css') }}">
{% endblock %}

{% block body %}
    <section class="slqmmg">

        <div class="container title">
            <div class="section-title">
                <h2 data-sr>Soy lo que <br> mas me gusta</h2>
            </div>
        </div>

        <div class="container info">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 image-container">
                    <div>
                        <img src="{{ asset('img/slqmmg.png') }}" alt="slqmmg">
                    </div>
                </div>
                <div class="col-sm-12">
                    <h4>
                        Ganadora de
                    </h4>
                </div>
                <div class="bwf-logo-container col-sm-12">
                    <img src="{{ asset('img/bogota-web-fest-logo.png') }}" alt="bogota-web-fest-logo">
                </div>
                <div class="text-container">
                <div class="col-sm-6 col-sm-offset-3">
                    <p>
                        SLQMMG cuenta la historia de diferentes mujeres, que impulsadas por la pasión y la determinación,
                        dedican su vida a hacer lo que más les gusta.
                        Desde lo cotidiano, transofrman el mundo, pues han demostrado que no hay
                        que ser lo que dicen que seamos para se exitosas. Nuestras mujeres
                        sobresalen en un mundo masculino, pues han convertido su día a día en algo
                        extraordinario. Sus historias no solo las han empoderado a ellas, sino que
                        serán ejemplo de empoderamiento de muchas más.
                    </p>
                </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ************************ -->
    <!--   CAPITULOS              -->
    <!-- ************************ -->

    <section class="slqmmg capitulos">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="capitulo-item" data-sr>
                        <div class="thumb">
                            <a href="https://www.youtube.com/watch?v=dpVFaPmYMXg" class="animsition-link">
                                <img src="{{ asset('img/slqmmg-cap1.png') }}" alt="blog">
                            </a>
                        </div>
                        <!-- End thumb -->

                        <div class="post-content">
                            <h6>
                                <a href="https://www.youtube.com/watch?v=dpVFaPmYMXg" class="animsition-link">
                                    Capítulo 1 - Valeria Vargas
                                </a>
                            </h6>
                            <p>
                                Nuestra primera historia, quien nos conquistó desde el minuto 1. Su tenacidad y
                                ganas de romper barreras son dignas de admirar
                            </p>
                        </div>
                        <!-- End post-content -->
                    </div>
                    <!-- End blog-item -->
                </div>

                <div class="col-md-6">
                    <div class="capitulo-item" data-sr>

                        <div class="thumb">
                            <a href="https://www.youtube.com/watch?v=J-ncv3fXwn8" class="animsition-link">
                                <img src="{{ asset('img/slqmmg-cap2.png') }}" alt="blog">
                            </a>
                        </div>
                        <!-- End thumb -->

                        <div class="post-content">
                            <h6>
                                <a href="https://www.youtube.com/watch?v=J-ncv3fXwn8" class="animsition-link">
                                    Capítulo 2 - Maria Del Mar Ponce
                                </a>
                            </h6>
                            <p>
                                Maria Del Mar Ponce, una mujer que a través de su marca La Mar Shop, ha vivido
                                un proceso de Autodescubrimiento y de liberación
                            </p>
                        </div>
                        <!-- End post-content -->
                    </div>
                    <!-- End blog-item -->
                </div>



            </div>

        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/slqmmg.js') }}"></script>
{% endblock %}