<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/x-icon">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/plugins.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/MyFontsWebfontsKit.css') }}">

        <link rel="stylesheet" href="{{ asset('css/test-video.css') }}">
        <link rel="stylesheet" href="{{ asset('css/home.css') }}">
        <link rel="stylesheet" href="{{ asset('css/lo-que-hacemos.css') }}">
        <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
    {% endblock %}
</head>

<body>
<!-- animsition -->
<div class="">

    <!-- ************************ -->
    <!--  GO TO TOP               -->
    <!-- ************************ -->

    <a href="#top" class="toTop">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- ************************ -->
    <!--   PAGE BORDER            -->
    <!-- ************************ -->

    <span class="frame-line animated top-frame"></span>
    <span class="frame-line animated right-frame"></span>
    <span class="frame-line animated bottom-frame"></span>
    <span class="frame-line animated left-frame"></span>

    <!-- ************************ -->
    <!--   NAVBAR                 -->
    <!-- ************************ -->

    <div class="crazy-navbar">
        <div class="container">

            <div class="crazy-logo">
                <a href="{{ path('home') }}"><img src="{{ asset('img/logo-catarsis-black.png') }}" alt="crazy-logo"></a>
            </div>
            <!-- End crazy-logo -->
            <nav class="crazy-nav">
                <ul class="sf-menu">
                    <li class="{{ 'home'|current_menu_item }}">
                        <a href="{{ path('home') }}" class="animsition-link">Home</a>
                    </li>
                    <li class="{{ 'nuestro_metodo'|current_menu_item }}">
                        <a href="{{ path('nuestro_metodo') }}" class="animsition-link">Nuestro método</a>
                    </li>
                    <li class="{{ 'lo_que_hacemos'|current_menu_item }}">
                        <a href="{{ path('lo_que_hacemos') }}" class="animsition-link">Lo que hacemos</a>
                    </li>
                </ul>
            </nav>
            <a href="#" class="open-menu">
                <i class="burger-icon">
                    <i></i>
                </i>
            </a>
        </div>
        <!-- End container -->
        <div class="container">
            <div class="row">
                <div class="mobile-menu-wrap">
                    <nav>
                        <ul class="list-none">
                            <li class="{{ 'home'|current_menu_item }}">
                                <a href="{{ path('home') }}" class="animsition-link">Home</a>
                            </li>
                            <li class="{{ 'nuestro_metodo'|current_menu_item }}">
                                <a href="{{ path('nuestro_metodo') }}" class="animsition-link">Nuestro método</a>
                            </li>
                            <li class="{{ 'lo_que_hacemos'|current_menu_item }}">
                                <a href="{{ path('lo_que_hacemos') }}" class="animsition-link">Lo que hacemos</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- End mobile-menu-wrap -->
            </div>
        </div>
        <!-- End container -->
    </div>

    <main>
        <!-- ************************ -->
        <!--   HOME VIDEO             -->
        <!-- ************************ -->
        <video poster="{{ asset('video/home-portada.png') }}" playsinline autoplay muted loop class="home">
            <source src="{{ asset('video/home-portada2.mp4.mp4') }}" type="video/mp4">
            {#        <source src="{{ asset('video/home-portada2.webmhd.webm') }}" type="video/webm"> #}

        </video>

        <!-- ************************ -->
        <!--   POR QUE CATARSIS       -->
        <!-- ************************ -->

        <section class="pt150 pb150 por-que">
            <div class="decor-tr"></div>
            <div class="container">
                <div class="row">

                    <div class="info-block-wrap clearfix">


                        <div class="col-md-7">
                            <div class="info-block sm-mb30">
                                <h2>Por qué <br> Catarsis</h2>
                                <div class="text-content">
                                    <p>
                                        Somos un estudio de ideas, que ha entendido <br>
                                        la importancia de la comunicación como un todo.
                                    </p>
                                    <p>
                                        Creamos contenido propio para digital, tanto audivisual, gráfico y escrito,
                                        posicionando las ideas y generando recordación.
                                    </p>
                                    <p>
                                        Entendemos el consumo digital, siendo la imagen, el video y el stroytelling
                                        los medios claves para llegar a las audiencias que están en búsqueda de contenidos
                                        que logren generar conexiones y emociones.
                                    </p>
                                    <div class="mt40">
                                        <a href="{{ path('nuestro_metodo') }}" class="btn animsition-link">
                                            <span>Quiero saber más de catarsis</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End info-block -->

                        </div>

                    </div>
                    <!-- End info-block-wrap -->
                </div>

            </div>
            <!-- End container -->
        </section>

        <!-- ************************ -->
        <!--   LO QUE HACEMOS         -->
        <!-- ************************ -->
        <section class="lo-que-hacemos">
            <div class="decor-tr"></div>
            <div class="decor-tl"></div>
            <div class="container">
                <div class="section-title">
                    <h2>Lo que <br>hacemos</h2>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1 video-container">
                        <img src="{{ asset('img/lo-que-hacemos-video-back.png') }}" rel="video back">
                        <video poster="{{ asset('video/home-portada.png') }}" class="main" playsinline autoplay muted loop>
                            <source src="{{ asset('video/reel.webmhd.webm') }}" type="video/webm">
                            {#                        <source src="{{ asset('video/reel.mp4') }}" type="video/mp4">#}

                        </video>
                    </div>
                </div>
            </div>
            <div class="video-cont">
                <div class="seccion nuestro-contenido" data-playlist="PLIJlJGz4I00_Vb7tUtD3eD7HH817qisCE">
                    <a href="https://www.youtube.com/watch?v=PT3LbzZOXRw" class="primero"></a>
                    <a href="https://www.youtube.com/watch?v=SIU-gGRXf3c" class=""></a>
                    <a href="https://www.youtube.com/watch?v=EGGMTYuBe1M" class=""></a>
                    <a href="https://www.youtube.com/watch?v=B7NHqC_QJd0" class=""></a>
                    <a href="https://www.youtube.com/watch?v=Q-_0PZQ9G1A" class=""></a>
                    <a href="https://www.youtube.com/watch?v=jGKSnfB_5ls" class=""></a>
                    <a href="https://www.youtube.com/watch?v=OwRhEmWqo9c" class=""></a>
                    <a href="https://www.youtube.com/watch?v=syd0JV3kL4I" class=""></a>
                    <a href="https://www.youtube.com/watch?v=eEnub0eLYxg" class=""></a>
                </div>
                <div class="seccion video" data-playlist="PLIJlJGz4I00_88QkgABsGdOzCAQRpPz_m">
                    <a href="https://www.youtube.com/watch?v=kV1OKvKItBs" title="Test caption 1" class="primero"></a>
                    <a href="https://www.youtube.com/watch?v=XHXte6xFM4E"></a>
                    <a href="https://www.youtube.com/watch?v=C9le-ATiGRU"></a>
                    <a href="https://www.youtube.com/watch?v=feSkQY51zsI"></a>
                    <a href="https://www.youtube.com/watch?v=XWHTtbzu1Lk"></a>
                    <a href="https://www.youtube.com/watch?v=uK2fka6M8TY"></a>
                    <a href="https://www.youtube.com/watch?v=uayYawoom0E"></a>
                    <a href="https://www.youtube.com/watch?v=w8xzRF4YrKg"></a>
                    <a href="https://www.youtube.com/watch?v=ZeGSnBjMFe0"></a>
                    <a href="https://www.youtube.com/watch?v=iNmIemvJCTE"></a>
                    <a href="https://www.youtube.com/watch?v=9jSOD9lfKrY"></a>
                    <a href="https://www.youtube.com/watch?v=1RNAvuYXpYg"></a>
                    <a href="https://www.youtube.com/watch?v=aMhZCY2HZHY"></a>
                    <a href="https://www.youtube.com/watch?v=vPvtrplEyYk"></a>
                    <a href="https://www.youtube.com/watch?v=IY2kTapx6Yk"></a>
                </div>
                <div class="seccion fotografia">

                </div>
                <video poster="{{ asset('video/home-portada.png') }}" playsinline autoplay muted loop>
                    <source src="{{ asset('video/lo-que-hacemos.mp4.mp4') }}" type="video/mp4">
                    {#        <source src="{{ asset('video/home-portada2.webmhd.webm') }}" type="video/webm"> #}
                </video>
            </div>
        </section>



        <!-- ********************************* -->
        <!--   QUIENES HAN HECHO CATARSIS      -->
        <!-- ********************************* -->

        <section class="pb60 quienes quienes-wrap">
            <div class="container">
                <div class="section-title">
                    <h2>Quiénes han hecho <br> Catarsis</h2>
                </div>
            </div>
            <!-- End container -->

            <div class="container-fluid">
                <div class="row">

                    <div class="owl-quienes-slider">
                        <div class="owl-item">

                            <div class="avatar-wrap">
                                <img src="{{ asset('img/quienes-logos/colpatria.png') }}" alt="avatar">
                            </div>
                        </div>
                        <!-- End owl-item -->

                        <div class="owl-item" >
                            <div class="avatar-wrap">
                                <img src="{{ asset('img/quienes-logos/casatoro.png') }}" alt="avatar">
                            </div>
                        </div>
                        <!-- End owl-item -->

                        <div class="owl-item" >
                            <div class="avatar-wrap">
                                <img src="{{ asset('img/quienes-logos/instinto.png') }}" alt="avatar">
                            </div>
                        </div>
                        <!-- End owl-item -->

                        <div class="owl-item" >
                            <div class="avatar-wrap">
                                <img src="{{ asset('img/quienes-logos/mimos.jpg') }}" alt="avatar">
                            </div>
                        </div>
                        <!-- End owl-item -->

                        <div class="owl-item" >
                            <div class="avatar-wrap">
                                <img src="{{ asset('img/quienes-logos/oskperu.png') }}" alt="avatar">
                            </div>
                        </div>
                        <!-- End owl-item -->

                        <div class="owl-item" >
                            <div class="avatar-wrap">
                                <img src="{{ asset('img/quienes-logos/pinzon-pinzon.png') }}" alt="avatar">
                            </div>
                        </div>
                        <!-- End owl-item -->

                        <div class="owl-item" >
                            <div class="avatar-wrap">
                                <img src="{{ asset('img/quienes-logos/grants.png') }}" alt="avatar">
                            </div>
                        </div>
                        <!-- End owl-item -->

                        <div class="owl-item" >
                            <div class="avatar-wrap">
                                <img src="{{ asset('img/quienes-logos/marcali.png') }}" alt="avatar">
                            </div>
                        </div>
                        <!-- End owl-item -->

                        <div class="owl-item" >
                            <div class="avatar-wrap">
                                <img src="{{ asset('img/quienes-logos/jac.png') }}" alt="avatar">
                            </div>
                        </div>
                        <!-- End owl-item -->

                        <div class="owl-item" >
                            <div class="avatar-wrap">
                                <img src="{{ asset('img/quienes-logos/reebok.png') }}" alt="avatar">
                            </div>
                        </div>
                        <!-- End owl-item -->

                    </div>
                    <!-- End owl-testimonial-slider -->

                </div>
            </div>
            <!-- End container-fluid -->

            <div class="quienes-nav">
                <i class="lnr lnr-arrow-left pull-left"></i>
                <i class="lnr lnr-arrow-right pull-right"></i>
            </div>
            <!-- End testimonial-nav -->

        </section>

        <!-- ************************ -->
        <!--   ALIADOS                -->
        <!-- ************************ -->

        <section class="pt60 pb60 aliados aliados-wrap">
            <div class="decor-tr"></div>
            <div class="decor-tl"></div>
            <div class="container">

                <div class="section-title">
                    <h2>Aliados</h2>
                </div>
            </div>
            <!-- End container -->

            <div class="container-fluid">
                <div class="row">

                    <div class="owl-aliados-slider">
                        <div class="owl-item" >

                            <div class="avatar-wrap">
                                <img src="{{ asset('img/aliados-logos/astronomica.png') }}" alt="avatar">
                            </div>
                        </div>
                        <!-- End owl-item -->

                        <div class="owl-item angela-villota" >
                            <div class="avatar-wrap">
                                <img src="{{ asset('img/aliados-logos/angela-villota.png') }}" alt="avatar">
                            </div>
                        </div>
                        <!-- End owl-item -->

                        <div class="owl-item" >
                            <div class="avatar-wrap">
                                <img src="{{ asset('img/aliados-logos/popup-art.png') }}" alt="avatar">
                            </div>
                        </div>
                        <!-- End owl-item -->

                        <div class="owl-item" >
                            <div class="avatar-wrap">
                                <img src="{{ asset('img/aliados-logos/estudio-manglar.png') }}" alt="avatar">
                            </div>
                        </div>
                        <!-- End owl-item -->

                        <div class="owl-item" >
                            <div class="avatar-wrap">
                                <img src="{{ asset('img/aliados-logos/tangram.png') }}" alt="avatar">
                            </div>
                        </div>
                        <!-- End owl-item -->

                        <div class="owl-item" >
                            <div class="avatar-wrap">
                                <img src="{{ asset('img/aliados-logos/kois.png') }}" alt="avatar">
                            </div>
                        </div>
                        <!-- End owl-item -->
                    </div>
                    <!-- End owl-testimonial-slider -->

                </div>
            </div>
            <!-- End container-fluid -->

            <div class="aliados-nav">
                <i class="lnr lnr-arrow-left pull-left"></i>
                <i class="lnr lnr-arrow-right pull-right"></i>
            </div>
            <!-- End testimonial-nav -->

        </section>

        <!-- ************************ -->
        <!--   CONTACT FORM           -->
        <!-- ************************ -->

        <section class="contact-form">
            <div class="decor-tr"></div>
            <div class="decor-br"></div>
            <div class="decor-bl"></div>
            <div class="container title">
                <div class="text-center mb40">
                    <h2 class="c-white uppercase" >Hablemos de<br>tu proyecto</h2>
                </div>
            </div>
            <!-- End container -->

            <div class="container form">

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">

                        <form   action="{{ path('contacto_post') }}"
                                class="form-white"
                                id="contact-form"
                                method="post"
                                data-all-fields-required-msg="Todos los campos son requeridos."
                                data-ajax-fail-msg="No se pudo enviar el mensaje."
                                data-success-msg="Mensaje enviado exitosamente.">
                            <div class="col-sm-12">
                                <div class="form-control">

                                    <input
                                            class="contact-form-name"
                                            type="text"
                                            name="name"
                                            placeholder="Tu nombre:">


                                </div>
                            </div>
                            <!-- End col-sm-12 -->
                            <div class="col-sm-12">
                                <div class="form-control">

                                    <input class="contact-form-email"
                                            type="text"
                                            name="email"
                                            placeholder="Tu email:">


                                </div>
                            </div>
                            <!-- End col-sm-12 -->
                            <div class="col-sm-12">
                                <div class="form-control">
                                    <textarea class="contact-form-message" name="message" placeholder="Cuéntanos sobre tu proyecto:"></textarea>
                                </div>
                            </div>
                            <!-- End col-sm-12 -->
                            <div class="col-sm-12 btn-col">
                                <div class="text-center">

                                    <button class="btn">
											<span>Enviar<i class="fa fa-spin fa-spinner ajax-loader" style="display: none;"></i>
											</span>
                                    </button>
                                    <button class="btn">
                                        <span>Quiero contarles más</span>
                                    </button>

                                </div>
                            </div>
                            <!-- End  -->
                            <div class="col-sm-12">
                                <div class="text-center">
                                    <p class="return-msg">&nbsp;</p>
                                </div>

                            </div>
                        </form>
                        <!-- End contact-form -->

                    </div>

                </div>
            </div>
            <!-- End container -->
        </section>

    </main>

    <footer>
        <div class="footer-inner clearfix">
            <div class="container">
                <div class="col-sm-2">
                    <div class="catarsis-logo">
                        <img src="{{ asset('img/footer-logo.png') }}" alt="catarsis footer logo">
                    </div>
                </div>
                <div class="col-sm-3">
                    <ul class="list-none">
                        <li>HOME</li>
                        <li>NUESTRO MÉTODO</li>
                        <li>LO QUE HACEMOS</li>
                        <li>HABLEMOS DE TU PROYECTO</li>
                    </ul>
                </div>
                <div class="col-sm-3 footer-social">
                    <p>
                        CONTÁCTANOS
                    </p>
                    <p>
                        Cra. 47#91-71 Bogotá, Colombia<br>
                        (+51 1) 466-1936<br>
                        contactanos@catarsis.com.co
                    </p>
                    <p>
                        SÍGUENOS
                    </p>
                    <ul class="list-none">
                        <li class="first">
                            <a href="https://www.facebook.com/catarsisestudiodeideas/" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://vimeo.com/catarsisestudio" target="_blank">
                                <i class="fa fa-vimeo"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC0OhuQ6vya1ATuof4TOYIlg" target="_blank">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/catarsisestudio/" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 footer-copy">
                    <p>
                        Catarsis Estudio de Ideas.<br>
                        Todos los derechos reservados Catarsis Estudio de Ideas 2019 ©<br>
                        Diseñado por Astronómica S.A.S.<br>
                        Programado por Rigden Jyepo<br>
                    </p>
                </div>
            </div>
            <!-- End container -->
        </div>

    </footer>



</div>
{% block javascripts %}
    <script src="{{ asset('vendors/jquery-1.12.0.min.js') }}"></script>
    <script src="{{ asset('scripts/plugins.min.js') }}"></script>
    <script src="{{ asset('scripts/scripts.js') }}"></script>
    <script src="{{ asset('scripts/test-video.js') }}"></script>
{% endblock %}
</body>
</html>
